body {
  background-color: #f8f3f1;
  margin: 0;
}

nav {
  background:  #bfe7f1;
  display: flex;
  justify-content: center;
  padding: 15px;
}

.link {
  padding: 10px 40px;
  text-decoration: none;
  color: #1d4870;
  text-transform: uppercase;
}

.slide {
  height: auto;
  max-width: 100%;
}

.fashion {
  margin-bottom: 30px;
  margin-top: 35px;
}

.products {
  display: flex;
  flex-wrap: wrap;
}

.product-card {
  padding: 2%;
  flex-grow: 1;
  flex-basis: 16%;
}

.cont {
  display: flex;
  justify-content: center;
}

.back {
  background-color: #bfe7f1; 
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #13395e;
}

.change {
  background-color: #13395e;
  color: white;
  padding: 10px;
  border: none;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

h3, h4 {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
}

button {
  margin: 10px;
}

.about {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  color: #154370;
}

.text {
  width: 900px;
  margin: 0 auto;
}

p {
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  line-height: 1.4;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-text {
  margin-left: 35px;
}

.contact-image {
  margin-top: 15px;
}

.one {
  text-align: center;
}

@media all and (max-width: 800px) {
  .clothes-image {
    width: 350px;
  }

  .clothes-image {
    display: block;
    margin: 0 auto;
  }

  h3, h4 {
    text-align: center;
  }

  .contact-text {
    width: 550px;
  } 
}

@media all and (max-width: 500px) {
  nav {
    font-size: 12px;
  }

  .change {
    padding: 5px;
    margin: 5px;
  }

  .text {
    max-width: 300px;
    text-align: justify;
  }
  
  h2 {
    font-size: 20px;
  }

  .phone{
    height: 250px;
    width: 150px;
  }

  .one {
    font-size: 14px;
  }
}

